body {
    margin: 0;
    background-color: #09122C;
    text-align: center;
    font-family: "Merriweather Sans", sans-serif;
}

h1 {
    font-family: "Sacramento", cursive;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 7rem;
    position: relative;
    padding-top: 40px;
}

h2 {
    font-family: "Montserrat", sans-serif;
    color: #66BFBF;
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: aliceblue;
    font-size: 1.7rem;
    line-height: 5; 
    margin: auto;
}

hr {
    border: dotted 10px #393E46;
    border-bottom: 0;
    width: 8%;
}

p {
    color: aliceblue;
    padding: 30px 200px 80px;
}

a {
    color: #11999E;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

span {
    text-decoration: underline;
}




.my-role {
    font-family: monospace;
    padding-bottom: 2%;
    position: relative;
    font-size: 2.5rem;
    font-weight: normal;
    bottom: 0%;
}

.background-image {
    position: contain;
    height: 300px;
    padding: 60px 0 0 0;
}

.profile-hr {
    border: dotted 10px #09122C;
    border-bottom: 0;
    width: 8%;
}

.my-pic {
    position: relative;
    height: 400px;
}

.top-container {
    position: relative;
    color: #66BFBF;
    font-size: 30px;
}

.middle-container {
    padding-top: 10%;
    position: relative;
    background-color: #183B4E;
}

.bottom-container {
    position: relative;
    background-color: #09122C;;
}

.intro {
    line-height: 2;
    word-spacing: 2.5px;
}

.skills-header {
    font-size: 3rem;
    padding-top: 80px;
}

.skill-row {
    padding-top: 1px;
    padding-bottom: 4%;
    margin: auto;
    width: 50%;
}

.WD {
    position: relative;
    height: 400px;
    margin-bottom: 0;
    margin-top: 50px;
    padding: 0;
}

.PR {
    position: relative;
    height: 350px;
    padding-bottom: 2%;
}

.CN {
    position: relative;
    height: 350px;
    padding-bottom:  2%;
}


.GR {
    position: relative;
    height: 350px;
    padding-bottom:  2%;
}

.SP {
    position: relative;
    height: 350px;
    margin-top: 0;
    padding-top: 0;
}

.contact-header {
    padding-top: 40px;
    padding-bottom: 0;
}

.contact-sub-header {
    font-size: 1.3rem;
    line-height: 3;
}

.contact-text {
    word-spacing: 2.5px;
    font-weight: normal;
    font-size: 1rem;
    padding: 0 30px 0 30px;
}


.btn {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: Georgia;
   width: 129px;
   font-size: 19px;
   font-weight: 100;
   padding: 21px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 3px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #FFFFFF 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.footer-link {
    padding: 20px 5px 20px 5px;
}


.footer-text {
    color: #EAF6F6;
    font-size: 0.7rem;
    font-weight: 1;
    padding: 0;
    margin-top: 3%;
}