body {
    margin: 0;
    background-color: #09122C;
    text-align: center;
    font-family: "Merriweather Sans", sans-serif;
}

h1 {
    font-family: "Sacramento", cursive;
    margin-bottom: 0%;
    font-size: 7rem;
    position: relative;
    top: 336px;
}

h2 {
    font-family: "Montserrat", sans-serif;
    color: #66BFBF;
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: aliceblue;
    font-size: 1.7rem;
    line-height: 10;
    margin: auto;
}

hr {
    border: dotted 10px #393E46;
    border-bottom: 0;
    width: 8%;
}

p {
    color: aliceblue;
    padding: 30px 200px 80px;
}

a {
    color: #11999E;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

img {
    height: 748px;
    top: 0%;
    left: 0%;
    object-fit: fill;
    position: absolute;
    padding: 0;
}

span {
    text-decoration: underline;
}




.my-role {
    font-family: monospace;
    padding: 0;
    position: relative;
    top: 370px;
    font-size: 2.5rem;
    font-weight: normal;
}

.container {
    position: absolute;
    height: 60%;
    left: 26%;
    top: 6%;
    padding: 0;
}

.my-pic {
    position: relative;
    top: 0;
    bottom: 0;
    height: 400px;
}

.top-container {
    position: relative;
    color: #66BFBF;
    font-size: 30px;
}

.middle-container {
    position: relative;
    top: 480px;
}

.bottom-container {
    position: relative;
    top: 500px;
}

.intro {
    line-height: 2;
    word-spacing: 2.5px;
}

.skills-header {
    font-size: 3rem;
    padding-top: 80px;
}

.skill-row {
    padding-top: 1px;
    padding-bottom: 150px;
    margin: auto;
    width: 50%;
}

.WD {
    position: relative;
    height: 400px;
    float: left;
    margin-bottom: 0;
    margin-top: 50px;
}

.PR {
    position: relative;
    height: 350px;
    float: right;
    padding-bottom: 150px;
}

.CN {
    position: relative;
    height: 350px;
    float: left;
    padding-bottom: 120px;
}


.GR {
    position: relative;
    height: 350px;
    float: right;
    padding-bottom: 180px;
}

.SP {
    position: relative;
    height: 350px;
    margin-top: 0;
    padding-top: 0;
    float: left;
}

.contact-header {
    padding-top: 40px;
    padding-bottom: 0;
}

.contact-sub-header {
    font-size: 1.3rem;
    line-height: 3;
}

.contact-text {
    word-spacing: 2.5px;
    font-weight: normal;
    font-size: 1rem;
    padding: 20px;
}


.btn {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: Georgia;
   width: 129px;
   font-size: 19px;
   font-weight: 100;
   padding: 21px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 3px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #FFFFFF 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.footer-text {
    color: #EAF6F6;
    font-size: 0.7rem;
    font-weight: 1;
}